.masthead{
	text-align: center;
}

.vcenter {
	min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
	min-height: 100vh; /* These two lines are counted as one :-)       */
	display: flex;
  	align-items: center;
}

.img-fluid-center {
	max-width: 90%;
	text-align: center;
}

.navbarpad {
	margin-bottom: 1%;
}

.pad {
	margin-top: 10%;
}
.pad-1 {
	margin-top: 1%;
}

.cornered {
	border-radius: 0;
}

.pad-5 {
	margin-top: 5%;
}

.col-sm-12 {
	margin-top: 1%;
}

.col-sm-6 {
	margin-top: 1%;
}

.col-sm-4{
	margin-top: 1%;
}

.bigger{
	font-size:20px;
}

.row-eq-height {
	overflow: hidden;
}
